.mw-px-100 {
    max-width: 100px;
}

.mw-px-200 {
    max-width: 200px;
}

.mw-px-300 {
    max-width: 300px;
}

.mh-px-400 {
    max-height: 400px;
}

.pagination-dark .pagination {
    --bs-pagination-color: var(--bs-gray-dark);
    --bs-pagination-hover-color: var(--bs-dark);
    --bs-pagination-active-bg: var(--bs-dark);
    --bs-pagination-active-border-color: var(--bs-dark);
    --bs-pagination-focus-color: var(--bs-dark);
    margin: 0;
}

.bg-gradient-1 {
    background-color: #99fffd;
    background-image:
        radial-gradient(at 85% 25%, hsla(82, 74%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 31% 57%, hsla(241, 62%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 2% 96%, hsla(141, 73%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 63% 84%, hsla(22, 81%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 95% 66%, hsla(212, 61%, 60%, 1) 0px, transparent 50%);
}
